[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore
